@page
@model LTHDT_web.Pages.MH_LuuTruTamGiacModel
@{
}
<form method="post">
    <label>x1</label><br />
    <input name="x1" /><br />
    <label>y1</label><br />
    <input name="y1" /><br />
    <label>x2</label><br />
    <input name="x2" /><br />
    <label>y2</label><br />
    <input name="y2" /><br />
    <label>x3</label><br />
    <input name="x3" /><br />
    <label>y3</label><br />
    <input name="y3" /><br />
    <button type="submit">Luu</button>
</form>
@Model.chuoi