@page
@model LTHDT_web.Pages.MH_LuuSanPhamModel
@{
}
<form method="post">
    <label>Ma sp</label><br />
    <input name="maSP" /><br />
    <label>Ten</label><br />
    <input name="ten" /><br />
    <label>Gia</label><br />
    <input name="gia" /><br />
    <button type="submit">Luu</button>
</form>
@Model.chuoi