@page
@model LTHDT_web.Pages.MH_TinhTongPhanSoModel
@{
}
<form method="post">
    <label>Tu so 1</label>
    <input name="ts1" /><br />
    <label>Mau so 1</label>
    <input name="ms1" /><br />
    <label>Tu so 2</label>
    <input name="ts2" /><br />
    <label>Mau so 2</label>
    <input name="ms2" /><br />
    <button type="submit">Tinh</button>
</form>
@Model.chuoi